# File listing
alias la="ls -Gla"

# Directory Shortcuts
alias d="cd ~/Dropbox"

# Server Commands
# alias serv="python -m SimpleHTTPServer"

# System Maintenance
# alias upsys="brew update && brew upgrade && gem update && npm up -g"

alias npml="npm ls -g --depth 0"
